/*  your css code here. If applicable */
body{
	background-color: #f5f5f5;
}
.header{
	background-color:#011e29;
}
.main{
	display:flex;
	
	
}
.latest-news-section{
	background-color:red;

}
.main-article{
/* 	display:flex; */
	background-color:red;
/* 	justify-content:space-around; */
	margin:10px;
	
	
}
.pictorial-news-section{
	
	display:flex;
	flex-direction:column;
	width:200px;
	height:100px;
}
.pictorial-news-section>img{
	background-color:red;
/* 	display:flex; */
	height:100%;
	width:100%;
	margin:10px;
}

